body {
    font-family: Arial, sans-serif;
}

#quiz-container {
    width: 300px;
    margin: auto;
    text-align: center;
}

.option {
    display: block;
    margin: 10px;
    width: 100%;
}

#result {
    font-weight: bold;
    margin-top: 20px;
}
